<section class="container-fluid nopadding">
  <div class="container shopping_cart_container nopadding">
    <!-- // Header Start -->
    <header>
      <div class="col-sm-12 col-xs-9 nopadding">
        <h1>YOUR SHOPPING BAG</h1>
      </div>
      <div class="col-xs-3 visible-xs list-count"><span>3</span>Items</div>
    </header>
    <!-- // Header End -->
    <!-- // Subnav Start -->
    <div class="col-xs-12 subnav hidden-xs">
      <div class="col-xs-3 col-sm-6 nopadding text-left items"><span>{{ products.length }}</span>Items</div>
      <div class="col-xs-9 col-sm-6 nopadding text-right">
        <ul>
          <li>Size</li>
          <li>Qty</li>
          <li>Price</li>
        </ul>
      </div>
    </div>
    <!-- // Subnav End -->
    <!-- // Card List Start -->
    <div class="col-xs-12 card-list-container" ng-repeat="(key, product) in products" ng-model="FormData.accountNum">
      <div class="col-sm-8 col-xs-12 card-list-left">
        <div class="col-xs-6 col-sm-4 img_wrapper">
          <img src="{{ products[key].img_src }}" alt="">
        </div>
        <!-- // -->
        <div class="col-xs-6 col-sm-8 card_details">
          <h2 ng-model="productName">{{ products[key].p_name }}</h2>
          <!-- <h2>solid green cotton tshirt</h2> -->
          <p>Style #: <span style>{{ products[key].p_style }}</span></p>
          <p>Color: <span color>{{  products[key].p_selected_color.name }}</span></p>
          <p class="visible-xs">Size: <span>{{ products[key].p_selected_size.code }}</span></p>
          <!-- // -->
          <div class="col-xs-12 nopadding visible-xs quantity_wrappr">
            <ul data-quantity="">
              <li>QTY: <input type="text" ng-model="product.qty"></li>
              <li><span discount-data><sup>{{ products[key].c_currency }}</sup><span>{{ products[key].p_price * product.qty }}</span></span> <sup>{{ products[key].c_currency }}</sup><span>{{ products[key].p_originalprice * product.qty }}</span></li>
            </ul>
          </div>
          <!-- // -->
          <ul data-action="" class="hidden-xs">
            <li><a ng-click="ShowNgDialog()">EDIT</a></li>
            <li>|</li>
            <li><a href="#"><span>X</span> Remove</a></li>
            <li>|</li>
            <li><a href="#">Save for Later</a></li>
          </ul>
        </div>
        <!-- // -->
        <div class="col-xs-12 nopadding visible-xs-">
          <ul data-action="" class="visible-xs">
            <li><a ng-click="ShowNgDialog()">EDIT</a></li>
            <li>|</li>
            <li><a href=""><span>X</span> Remove</a></li>
            <li>|</li>
            <li><a href="">Save for Later</a></li>
          </ul>
        </div>
        <!-- // -->
      </div>
      <div class="col-sm-4 col-xs-12 card-list-right hidden-xs">
        <ul data-quantity="">
          <div class="hide">{{ product.qty || (product.qty = 1)}}</div>
          <li>{{ products[key].p_selected_size.code }}</li>
          <li><input type="text" value="1" ng-model="product.qty"></li>
          <li>
            <div>
              <p><sup>{{ products[key].c_currency }}</sup><span>{{ products[key].p_price * product.qty }}</span></p>
              <p><sup>{{ products[key].c_currency }}</sup><span>{{ products[key].p_originalprice * product.qty }}</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- // Card List End -->
    <!-- Footer start -->
    <footer class="col-xs-12">
        <!-- <a href="" ng-click="ShowNgDialog()">Click Here</a>
        <input type="text" ng-model="FormData.accountNum" /> -->

      <div class="col-xs-12 col-sm-4 nopadding foot-left hidden-xs">
        <p><strong>Need help <br>or have questions?</strong></p>
        <p>Call Customer Service at <br>1-800-555-5555</p>
        <p><u>Chart with one of <br>our stylists</u></p>
      </div>
      <div class="col-xs-12 col-sm-8 foot-right nopadding">
        <div class="col-xs-12 cupoon_container">
          <div class="col-xs-12 col-sm-6 nopadding">ENTER PROMOTION CODE<br>OF GIT CARD</div>
          <div class="col-xs-12 col-sm-6 nopadding">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">APPLY</button>
              </span>
            </div>
          </div>
        </div>
        <!-- // -->
        <div class="col-xs-12 liner">
          <div class="col-xs-8 nopadding text-left">SUBTOTAL</div>
          <div class="col-xs-4 nopadding text-right">
            <span><sup>$</sup>37.00</span>
          </div>
        </div>
        <!-- // -->
        <div class="col-xs-12 liner">
          <div class="col-xs-8 nopadding text-left">PROMOTION CODE <b>JF10</b> APPLIED</div>
          <div class="col-xs-4 nopadding text-right">
            <span>-<sup>$</sup>7.00</span>
          </div>
        </div>
        <!-- // -->
        <div class="col-xs-12 liner b-bottom">
          <div class="col-xs-8 nopadding text-left">
            ESTIMADE SHIPPING *
            <p><small>you qualify for free shipping <br>because your order is over $50*</small></p>
          </div>
          <div class="col-xs-4 nopadding text-right">
            <pre>FREE</pre>
          </div>
        </div>
        <!-- // -->
        <div class="col-xs-12 liner b-bottom6">
          <div class="col-xs-8 nopadding text-left total-data">
            <p>ESTIMADE TOTAL</p>
            <p><small>Tax will be applied during checkout</small></p>
          </div>
          <div class="col-xs-4 nopadding text-right">
            <span><sup>$</sup>30.00</span>
          </div>
        </div>
        <!-- // -->
        <div class="col-xs-12 liner">
          <div class="col-xs-12 nopadding text-right">
            <div class="col-xs-8">
              <a href="#" class="link">CONTINUE SHOPPING</a>
            </div>
            <div class="col-xs-4 nopadding">
              <button type="button" class="btn edit_btn">EDIT</button>
            </div>
            <div class="col-xs-12 nopadding secure">
              <p><img src="img/lock.jpg" alt="">&nbsp; Secure checkout. shopping is allways safe & secure</p>
            </div>
          </div>
        </div>
        <!-- // -->
      </div>
    </footer>
    <!-- Footer End -->
  </div>
</section>
