<!-- <div class="col-xs-12 col-sm-5 nopadding" ng-repeat="(key, cartdata) in products"> -->
<div class="col-xs-12 col-sm-5 nopadding" ng-repeat="(key, cartdata) in products">
  <div class="col-xs-12 add-prod-details-container">
    <div class="col-xs-12 add-prod-details">
      <h2>{{ products[key].p_name }}</h2>
      <h3><sup>{{ products[key].c_currency }}</sup> {{ products[key].p_originalprice }}</h3>
      <p>{{ products[key].p_variation }}</p>
      <ul role="color">
        <li ng-repeat="(key, color) in products">
          <label for="{{ products[key].p_available_options.colors[key].name }}">
            <input id="{{ products[key].p_available_options.colors[key].name }}" name="color" type="radio">
            <span data-color="{{ products[key].p_available_options.colors[key].name }}">&nbsp;</span>
          </label>
        </li>
        <!-- <li>
          <label for="red">
            <input id="red" name="color" type="radio">
            <span data-color="red">&nbsp;</span>
          </label>
        </li> -->
      </ul>
      <ul role="dropdown">
        <li>
          <select name="" id="">
            <option value="0" ng-repeat="(key, size) in products">{{ products[key].p_available_options.sizes[key].code }}</option>
          </select>
        </li>
        <li>
          <select name="" id="">
            <option value="0">QTY: 1</option>
            <option value="0">2</option>
            <option value="0">3</option>
          </select>
        </li>
      </ul>
      <div class="col-xs-12 nopadding">
        <button type="button" class="btn edit_btn">EDIT</button>
        <a href="#"><u>See product details</u></a>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-7 product-img">
  <img src="img/T4.jpg" alt="">
</div>
